.menu{
    font-variant:small-caps;
    text align:center;
    font-size:150px;
}
.menu>a{
    color:blue;
    text-decoration: none;
}
.menu>a:visiter{
    color:green;
}
.menu>a:hover{
    color:red;
    text-decoration: underline;
}