.body{
    
}
.title{
    width:450px;
    height:650px;
    background-color: white;
    box-shadow: 0px 2px 3px 3px rgb(231, 220, 220);
    margin:auto;
    border-radius: 6px;
    padding:20px;
    display: flex;
    flex-direction: column;
}
#value {
    background-color: rgba(238, 232, 232, 0.5);
    padding-left: 60px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 0 10px;
    border-radius: 5px;
    border-color: rgb(207, 193, 193);
  }
  .radio {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right:65px;
  }
  .label{
    font-size: 20px;
  }
  .{
    position: relative;
  }